* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    display: flex;
  padding-left: 60px;
  font-size: 20px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(-45deg, #adadac, #323232, #2e2e2e, #000000);

    background-size: 400% 400%;

    animation: gradient 15s ease infinite;

    height: 100vh;

    height: 500px;

    padding: 50px; 
}




#container {
    width: 960px;
    margin: 0 auto;
    
}

#header {
  display: flex;
  padding-left: 60px;
  font-size: 20px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(-45deg, #c3c0c0, #696868, #504f4f, #0e0f0e);

    background-size: 400% 400%;

    animation: gradient 15s ease infinite;

    height: 100vh;

    height: 500px;

    padding: 50px;
}

#header img {
    
    height: 200px;
    border-radius: 25px;
    width:250px;
    height: 250px;
    border-radius: 50%;
    border: 10px solid rgb(255, 255, 255);
    border-color: #3d3a3a;

    
}







#header img:hover{
    transition: 0.70s;
    transform: rotate(360deg);
    filter:blur(10px)
}

#header h1 {
    padding-top: 30px;
    color: rgb(0, 0, 0);
    font-family: "CustomFont";
    src: url("/NightinTokyo.ttf");
}

#content {
    background: linear-gradient(-45deg, #000000, #000000, #000000, #000000);

    background-size: 400% 400%;

    animation: gradient 15s ease infinite;

    height: 100vh;

    height: 500px;

    padding: 50px;

}



@keyframes gradient {

    0% {

      background-position: 0% 50%;

    }

    50% {

      background-position: 100% 50%;

    }

    100% {

      background-position: 0% 50%;

    }
}



#content h2 {
    text-align: center;
    font-size: 300%;
}

#content #intro {
padding-top: 20px;
font-size: smaller;



}
#content #overig {
padding-top: 40px;
color:#ffffff;
text-align: justify;
        -moz-text-align-last: left;
        text-align-last: left;
}
#content #kennis {
padding-top: 20px;
color: white;
text-align: center;
}
#content #kennis ul {
    padding-left: 15px;
}

#experimental {

    background: linear-gradient(-45deg, #000000, #000000, #000000, #000000);

    background-size: 400% 400%;

    animation: gradient 15s ease infinite;

    height: 100vh;

    height: 500px;

    padding: 50px;

}



@keyframes gradient {

    0% {

      background-position: 0% 50%;

    }

    50% {

      background-position: 100% 50%;

    }

    100% {

      background-position: 0% 50%;

    }
}

#experimental h2 {
    text-align: center;
    font-size: 300%;
    color: white;
    margin-top: 0%;
    
}

#footer {
    background-color: #000000;
    height: 100px;
    color: rgb(255, 254, 254);
    text-align: center;
    padding-top: 20px;
}
#footer ul {
    display: block;
    padding-top: 10px;
}
#footer ul li {
    display: inline-block;
}

#footer ul li a {
    padding: 10px;
}

#header h1 {
overflow: hidden;
border-right: .15em solid rgb(0, 0, 0);
white-space: nowrap;
margin: auto;
letter-spacing: .15em;
animation: 
typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;


}

@keyframes typing{
    from{ width:0}
    to { width:100%}
}

@keyframes blink-carpet{
    from, to { border-color: transparent}
    50% { border-color: rgb(0, 0, 0);}
}

@import "compass/css3";

body{
  background:black;
  font-family: 'Varela', sans-serif;
}

body {
    background: black;
    font-family: "Varela", sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body, html {
    width: 100%;
    height: 100%;
    background-color: black;
  }
  
  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrapper h2.glitch {
    color: white;
    font-family: sans-serif;
    font-weight: 800;
    position: relative;
    font-size: 100px;
    padding: 30px;
  }
  .wrapper h2.glitch::before, .wrapper h2.glitch::after {
    padding: 30px;
    color: white;
    content: "Glitch";
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden;
    top: 0;
  }
  .wrapper h2.glitch::before {
    left: 3px;
    text-shadow: -2px 0 red;
    animation-name: glitch-animation-1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
  }
  .wrapper h2.glitch::after {
    left: -3px;
    text-shadow: -2px 0 blue;
    animation-name: glitch-animation-2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
  }
  
  @keyframes glitch-animation-1 {
    0% {
      clip: rect(74px, 350px, 108px, 30px);
    }
    5% {
      clip: rect(133px, 350px, 24px, 30px);
    }
    10% {
      clip: rect(74px, 350px, 142px, 30px);
    }
    15% {
      clip: rect(88px, 350px, 105px, 30px);
    }
    20% {
      clip: rect(92px, 350px, 48px, 30px);
    }
    25% {
      clip: rect(117px, 350px, 109px, 30px);
    }
    30% {
      clip: rect(78px, 350px, 19px, 30px);
    }
    35% {
      clip: rect(61px, 350px, 131px, 30px);
    }
    40% {
      clip: rect(79px, 350px, 118px, 30px);
    }
    45% {
      clip: rect(38px, 350px, 51px, 30px);
    }
    50% {
      clip: rect(149px, 350px, 62px, 30px);
    }
    55% {
      clip: rect(128px, 350px, 53px, 30px);
    }
    60% {
      clip: rect(121px, 350px, 114px, 30px);
    }
    65% {
      clip: rect(123px, 350px, 124px, 30px);
    }
    70% {
      clip: rect(3px, 350px, 130px, 30px);
    }
    75% {
      clip: rect(90px, 350px, 103px, 30px);
    }
    80% {
      clip: rect(35px, 350px, 122px, 30px);
    }
    85% {
      clip: rect(15px, 350px, 51px, 30px);
    }
    90% {
      clip: rect(101px, 350px, 73px, 30px);
    }
    95% {
      clip: rect(108px, 350px, 49px, 30px);
    }
    100% {
      clip: rect(45px, 350px, 101px, 30px);
    }
  }
  @keyframes glitch-animation-2 {
    0% {
      clip: rect(8px, 350px, 7px, 30px);
    }
    5% {
      clip: rect(103px, 350px, 105px, 30px);
    }
    10% {
      clip: rect(36px, 350px, 110px, 30px);
    }
    15% {
      clip: rect(11px, 350px, 29px, 30px);
    }
    20% {
      clip: rect(97px, 350px, 27px, 30px);
    }
    25% {
      clip: rect(68px, 350px, 86px, 30px);
    }
    30% {
      clip: rect(60px, 350px, 122px, 30px);
    }
    35% {
      clip: rect(104px, 350px, 80px, 30px);
    }
    40% {
      clip: rect(31px, 350px, 82px, 30px);
    }
    45% {
      clip: rect(16px, 350px, 150px, 30px);
    }
    50% {
      clip: rect(125px, 350px, 116px, 30px);
    }
    55% {
      clip: rect(32px, 350px, 29px, 30px);
    }
    60% {
      clip: rect(82px, 350px, 149px, 30px);
    }
    65% {
      clip: rect(141px, 350px, 128px, 30px);
    }
    70% {
      clip: rect(62px, 350px, 140px, 30px);
    }
    75% {
      clip: rect(87px, 350px, 99px, 30px);
    }
    80% {
      clip: rect(8px, 350px, 77px, 30px);
    }
    85% {
      clip: rect(12px, 350px, 34px, 30px);
    }
    90% {
      clip: rect(99px, 350px, 96px, 30px);
    }
    95% {
      clip: rect(87px, 350px, 34px, 30px);
    }
    100% {
      clip: rect(97px, 350px, 126px, 30px);
    }
  }

  #overig {
    overflow: hidden;
    border-right: .15em solid rgb(0, 0, 0);
    white-space: nowrap;
    margin: auto;
    letter-spacing: .15em;
    animation: 
    typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    
    
    }
    
    @keyframes typing{
        from{ width:0}
        to { width:100%}
    }
    
    @keyframes blink-carpet{
        from, to { border-color: transparent}
        50% { border-color: rgb(0, 0, 0);}
    }

    .wrap {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .wrap h2.glitch {
        color: white;
        font-family: sans-serif;
        font-weight: 800;
        position: relative;
        font-size: 100px;
        padding: 30px;
      }
      .wrap h2.glitch::before, .wrapper h2.glitch::after {
        padding: 30px;
        color: white;
        content: "Glitch";
        position: absolute;
        width: 100%;
        height: 100%;
        background: black;
        overflow: hidden;
        top: 0;
      }
      .wrap h2.glitch::before {
        left: 3px;
        text-shadow: -2px 0 red;
        animation-name: glitch-animation-1;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: reverse-alternate;
      }
      .wrap h2.glitch::after {
        left: -3px;
        text-shadow: -2px 0 blue;
        animation-name: glitch-animation-2;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: reverse-alternate;
      }
      
      @keyframes glitch-animation-1 {
        0% {
          clip: rect(74px, 350px, 108px, 30px);
        }
        5% {
          clip: rect(133px, 350px, 24px, 30px);
        }
        10% {
          clip: rect(74px, 350px, 142px, 30px);
        }
        15% {
          clip: rect(88px, 350px, 105px, 30px);
        }
        20% {
          clip: rect(92px, 350px, 48px, 30px);
        }
        25% {
          clip: rect(117px, 350px, 109px, 30px);
        }
        30% {
          clip: rect(78px, 350px, 19px, 30px);
        }
        35% {
          clip: rect(61px, 350px, 131px, 30px);
        }
        40% {
          clip: rect(79px, 350px, 118px, 30px);
        }
        45% {
          clip: rect(38px, 350px, 51px, 30px);
        }
        50% {
          clip: rect(149px, 350px, 62px, 30px);
        }
        55% {
          clip: rect(128px, 350px, 53px, 30px);
        }
        60% {
          clip: rect(121px, 350px, 114px, 30px);
        }
        65% {
          clip: rect(123px, 350px, 124px, 30px);
        }
        70% {
          clip: rect(3px, 350px, 130px, 30px);
        }
        75% {
          clip: rect(90px, 350px, 103px, 30px);
        }
        80% {
          clip: rect(35px, 350px, 122px, 30px);
        }
        85% {
          clip: rect(15px, 350px, 51px, 30px);
        }
        90% {
          clip: rect(101px, 350px, 73px, 30px);
        }
        95% {
          clip: rect(108px, 350px, 49px, 30px);
        }
        100% {
          clip: rect(45px, 350px, 101px, 30px);
        }
      }
      @keyframes glitch-animation-2 {
        0% {
          clip: rect(8px, 350px, 7px, 30px);
        }
        5% {
          clip: rect(103px, 350px, 105px, 30px);
        }
        10% {
          clip: rect(36px, 350px, 110px, 30px);
        }
        15% {
          clip: rect(11px, 350px, 29px, 30px);
        }
        20% {
          clip: rect(97px, 350px, 27px, 30px);
        }
        25% {
          clip: rect(68px, 350px, 86px, 30px);
        }
        30% {
          clip: rect(60px, 350px, 122px, 30px);
        }
        35% {
          clip: rect(104px, 350px, 80px, 30px);
        }
        40% {
          clip: rect(31px, 350px, 82px, 30px);
        }
        45% {
          clip: rect(16px, 350px, 150px, 30px);
        }
        50% {
          clip: rect(125px, 350px, 116px, 30px);
        }
        55% {
          clip: rect(32px, 350px, 29px, 30px);
        }
        60% {
          clip: rect(82px, 350px, 149px, 30px);
        }
        65% {
          clip: rect(141px, 350px, 128px, 30px);
        }
        70% {
          clip: rect(62px, 350px, 140px, 30px);
        }
        75% {
          clip: rect(87px, 350px, 99px, 30px);
        }
        80% {
          clip: rect(8px, 350px, 77px, 30px);
        }
        85% {
          clip: rect(12px, 350px, 34px, 30px);
        }
        90% {
          clip: rect(99px, 350px, 96px, 30px);
        }
        95% {
          clip: rect(87px, 350px, 34px, 30px);
        }
        100% {
          clip: rect(97px, 350px, 126px, 30px);
        }
      }
    

    